.menu {
    z-index: 100;
    background: $white;
    position: fixed;
    top: 0;
    left: -200%;
    width: 320px;
    min-height: 100vh;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    padding: 0 0 32px 0;
    transition: all 0.5s ease-out;

    &--filter {
        filter: opacity(4%);
        transition: all 0.5s ease-out;
    }

    &__header {
        margin-top: 18px;
        margin-bottom: 20px;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left {
            display: flex;
            align-items: center;
        }
    }

    &__button {
        border: none;

        &:hover {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition-duration: 0.5s;
        }
    }

    &__exit {
        background: url(../img/icon_exit.svg) no-repeat;
        width: 40px;
        height: 40px;
        margin-left: 24px;
    }

    &__logo {
        background: url(../img/logo.svg) no-repeat;
        background-position: 0 0;
        width: 97px;
        height: 51px;
        margin-left: 17px;
    }

    &__search {
        background: url(../img/icon_search.svg) no-repeat;
        width: 40px;
        height: 40px;
        margin-right: 24px;
    }

    &__list {
        margin-left: 24px;
        list-style: none;
        margin-top: 5px;
    }

    &__link {
        text-decoration: none;

        &-item {
            font-weight: 500;
            font-size: 16px;
            color: $black;
            margin-bottom: 32px;

            &:focus {
                color: $menu-text-color;
                outline: none;
                transition-duration: 0.5s;

                &::before {
                    position: absolute;
                    display: inline-block;
                    content: "";
                    width: 5px;
                    height: 32px;
                    background: $title-border-color;
                    transform: translate(-25px, -4px);
                    border-radius: 0 4px 4px 0;
                }
            }
        }
    }

    &__item {
        margin-bottom: 32px;
    }

    &__call {
        background: url(../img/icon_call.svg) no-repeat;
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }

    &__chat {
        background: url(../img/icon_chat.svg) no-repeat;
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }

    &__profile {
        background: url(../img/icon_profile.svg) no-repeat;
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }

    &__footer {
        padding: 0 0 0px 24px;

        &--main {
            width: 196px;
            height: 124px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
        }

        &-email {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.2px;
            color: $black;
            font-weight: 500;
        }

        &-tel {
            font-weight: 700;
            font-size: 24px;
            letter-spacing: -0.6px;
            color: $black;
        }
    }

    &-content {
        min-width: 225px;
        min-height: calc(100vh - 93px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &--open {
        left: 0;
        transition: all 0.5s ease-out;
    }
}

@media (min-width:1440px) {


    .menu {
        position: absolute;
        left: 0;
        box-shadow: none;

        &-content {
            min-height: 0;
            height: 800px;
        }

        &__exit {
                display: none;
            }
    }

    
}

.langs {
    height: fit-content;
    list-style: none;
    display: flex;
    margin-top: 40px;
    margin-bottom: 32px;
    font-weight: 500;

    &__item {
        margin-right: 7px;
    }
}

.lang-ru,
.lang-en,
.lang-ch {

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: $black;
}