
.modal {


    pointer-events: all !important;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    border-left: 1px solid $border-color;
    background-color: $white;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2),
        -2px 0 4px rgba(69, 79, 126, 0.02);
    z-index: 4;
    transition: all 0.5s ease-out;




    &--remove {
        right: -200%;

    }

    &--feedback-remove {
        .modal__feedback {
            display: none;
            transition: all 1s ease-in-out;
        }
    }

    &--call-remove {
        .modal__callback {
            display: none;
            transition: all 1s ease-in-out;
        }

    }

    &-wrapper {
        padding: 24px 16px;
        background-color: $white;
        transition: all 0.3s ease-in-out;


    }

    &__close-btn {
        margin-bottom: 40px;
        width: 40px;
        height: 40px;

        background: {
            image: url("../img/icon_exit.svg");
            position: center;
            size: cover;
            repeat: no-repeat;
            color: transparent;
        }

        border:none;
    }

    &__title {
        position: relative;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;

        &::before {
            position: absolute;
            content: "";
            left: -17px;
            height: 39px;
            border-left: 4px solid $title-border-color;
            border-radius: 0 5px 5px 0;
        }
    }

    &__input {
        margin-bottom: 16px;
        padding: 12px 16px;
        width: 100%;
        height: 48px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -.2px;
        border: 1px solid $light-gray;
        border-radius: 8px;


        &::placeholder {
            color: $pagination-active;
        }
    }

    &__textarea {
        min-height: 118px;
    }

    &__agreement {
        margin-bottom: 19px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0;
        color: $menu-text-color;

        &>a {
            color: $pink;
        }
    }

    &__submit-btn {
        display: block;
        position: relative;
        margin-left: auto;
        padding: 4px 35px 4px 8px;
        width: 136px;
        height: 32px;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: .2px;
        color: $white;
        border-radius: 16px;
        border: none;
        background: $pink url('../img/goside.svg') 90% 50% no-repeat;
    }

    z-index: 150;
}

@media (min-width: 1440px) {
    .modal {
        width: 440px;
        top: 0;
        bottom: 0;
        width: 440px;
        z-index: 3;
        transition: all 0.3s ease-in-out;

        &-wrapper {

            position: absolute;
            // right: 0;
            left: unset;
            padding: 40px 32px;
            background-color: $white;
            transition: all 0.3s ease-in-out;
        }

        &__close-btn {
            position: absolute;
            top: 32px;
            left: -64px;
        }

        &__title::before {
            left: -32px;
        }
    }
}