
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    &::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    &::before {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }
}



html,
body {

    overflow-x: hidden;
    background: $background;
    font-family: "TTLakes", sans-serif;
}

button {
    cursor: pointer;
    transition: all 0.5s ease-out;

    &:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

a {
    &:hover {
        filter: drop-shadow(0px 0px 15px red);
        transition: all 0.1s ease-out;
    }
}

.page {
    &--overlay-close {
        pointer-events: all;
        position: static
    }

    &--overlay-open {
        pointer-events: none;
        position: fixed
    }
}



.container {
    border-bottom: 1px solid $border-color;
    padding-bottom: 24px;
    width: 100vw;
    box-sizing: border-box;
    padding-left: 16px;

    &--filter {
        filter: opacity(4%);
        transition: all 0.5s ease-out;
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1440px) {
    .container {

        box-sizing: border-box;
        width: 1120px;
        margin-left: 320px;
        padding-left: 32px;
        padding-right: 32px;
    }

    body {
        width: 1440px;
        margin: 0 auto;
    }
}

.checkbox {
    &__input {
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__transform {
        transform: rotate(0.5turn);
    }

    &__read {
        cursor: pointer;

        &:hover {
            filter: drop-shadow(0px 0px 15px red);
            transition: all 0.1s ease-out;
        }
    }

    &__image {

        cursor: pointer;

        &:hover {
            filter: drop-shadow(0px 0px 15px red);
            transition: all 0.1s ease-out;
        }
    }

}

.title-main {
    font-size: 16px;
    width: 100vw;
    margin-left: -16px;
    padding: 0 16px;
    padding-top: 14px;
    height: 80px;

    @media (min-width:768px) {
        & {
            padding: 0 24px;
            padding-top: 14px;
            margin-left: -24px;
        }
    }

    @media (min-width:1440px) {
        & {
            padding: 0 32px;
            padding-top: 14px;
            margin-left: -32px;
        }
    }
}
