.tehnic-services {

   

    &__title {

        display: block;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        padding-top: 14px;
        margin-bottom: 24px;
        background: linear-gradient(90deg, rgba(248, 248, 248, 0) 0%, rgba(255, 255, 255, 1));
        color: $menu-text-color;
    }

    .swiper-slide {
        min-width: 0;
        width: 240px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
        background: $white;
        border: 1px solid $light-gray;
        border-radius: 6px;
        padding: 16px;
        box-sizing: border-box;
        font-weight: 500;
    }

    .swiper-slide__text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $black;
    }

    .swiper-slide__button {
        width: 40px;
        height: 40px;
        background: url(../img/go.svg) no-repeat;
        border: none;
        margin-right: 16px;
        align-self: flex-end;
    }

    .swiper-pagination-bullet {
        background-color: $pagination;
        width: 12px;
        height: 12px;
        opacity: 1;
        margin: 16px 12px 0 0;
    }

    .swiper-pagination-bullet-active {
        background-color: $pagination-active;
    }

    .tehnic-services__pagination {
        position: static;
        margin-top: 16px;
        text-align: center;
    }

    .swiper {
        width: 100%;
        position: relative;
            &::after{
                content:'';
                width: 50px;
                height: 160px;
                position: absolute;
                background:$background;
                filter: blur(10px);
                right: -20px;
                top: 0px;
                z-index: 10;
                @media (min-width: 768px) {
                    position: static;
                }
            }
    }

    .checkbox{
        &__read{
            padding-left: 32px;
            position: relative;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.2px;
            color: $black;
            &::before{
                content:'';
                position: absolute;
                width: 24px;
                height: 24px;
                background: url(../img/arrow.svg) no-repeat;
                left: 0;
            }

            &--transform::before {
                transform: rotate(0.5turn);

            }
        }
    }

    &__checkbox {
        margin-top: 24px;
        display: none;
        cursor: pointer;

        &:hover {
            filter: drop-shadow(0px 0px 15px red);
            transition: all 0.1s ease-out;
        }

        &--input {
            position: absolute;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        &--label {
            display: flex;
            width: 133px;
            height: 24px;
            margin-bottom: 16px;
        }

        &--image {
            width: 24px;
            height: 24px;
            background: url(../img/arrow.svg) no-repeat;
        }

        
    }




    @media (min-width:768px) {


        .tehnic-services__checkbox {
            display: block;
        }

        .swiper-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 3%;
            grid-row-gap: 14px;
            height: 160px;
            overflow: hidden;
        }

        .swiper-slide {
            width: 100%;
        }
    }

    @media (min-width:1440px) {
        .techic-services {
            width: 77vw;
        }

        .swiper-wrapper {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }


    }
}