


$background: #F8F8F8;
$black: #1B1C21;
$menu-text-color: #7E7E82;
$border-color: #D9FFF5;
$title-border-color: #41F6D7;
$light-gray: #EAEAEA;
$white: #FFFFFF;
$pink: #FF3E79;
$pagination-active : #B5B6BC;
$pagination: #DDDDDD;